
@import url('https://fonts.googleapis.com/css2?family=Hurricane&family=League+Gothic&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 1.3rem;
}
#navbar{
    background-color: #de4545;
    padding: 22px 14px;
    font-family: 'Palette Mosaic', cursive;}

    #navbar ul{
        display: flex;
        flex-direction: row;
        /* justify-content: center; */
        align-items: center;
        
    } 

#navbar li{
    padding: 1px 15px;
list-style: none;
}
#navbar li a {
    font-weight: bold;
    color: white;
text-decoration: none;

padding: 5px 36px;
}
#navbar li a:hover {
  
    color: rgb(12, 8, 8);

}

#introsection{
    padding-bottom: 45px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: center/cover repeat url("../static/bg1.jpg");
    height: 400px;
    background-color: red;
    font-size: 55px;
    font-family: 'Hurricane', cursive;}

    #introsection div.small{
        font-size: 36px;
    }

 #sponsersSection  {
    height: 296px;
    background-color: #da7878;
    margin-top: 50px;
}
#sponsersSection  h3{
    text-align: center;
    padding-top: 2px;
    font-family: 'Palette Mosaic', cursive;
    padding-top:21px;
    font-size: 30px;
}

#sponsers{
   height: 191px;
   max-width: 1000px;
   margin: auto;
}
.spImage{
    height: 80%;
    margin: 20px;
}

#mission>h3{
    text-decoration: solid;
    height: 55px;
    /* margin: auto; */
    text-align: center;
    font-size: 30px;
    font-family: 'Palette Mosaic', cursive;
}

.card{
    display: inline-block;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    width: 30%;
    margin: 23px 21px;
    height: 209px;
    background-color: #ce8f8f;
    font-size: 23px;

}

.card p{
    text-transform: capitalize;
    padding-top: 0px;
}
#logo{
    display: flex;
    color: rgb(15, 11, 11);
    align-items: center;
    margin: 0 14px;
    font-size: 28px;
    margin-right: 40px;
    filter: invert(0.1);
    font-family: 'Palette Mosaic', cursive;

}

.card-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-img{
    height: 127px;
    padding: -4px 14px;
    margin: 15px 9px;
}



.card-img img{
height: inherit;
     
}

.card-content{
    padding: 0 10px;
}

.card-content p{
    font-size: 19px;
}
#logo img{
    height: 43px;
    filter: invert(1);
}





#footer 
{
    display: flex;
    height: 60px;
    text-align: center;
    /* font-family: 'Palette Mosaic', cursive; */
    background-color: rgb(129, 60, 60);
justify-content: center; 
 align-items: center ;
font-size: 28px; 
font-family: 'yeon Sung';
/* margin-top: 600px ; */
}

